Forms.Scrumboard/Service References/ScrumboardService/Scrumboard1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StoryInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sprintId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="externalId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storyTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="statusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estimate" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="backcolor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoryInsertResult" type="tns:Story" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Story">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ExternalId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StoryTypeId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Estimate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StatusId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BackColor" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Tag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRemoved" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ClosedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Modified" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsBurndownEnabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Todos" type="tns:ArrayOfTodo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BO" abstract="true" />
      <s:complexType name="Todo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StoryId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Estimate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BackColor" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Modified" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRemoved" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfTodo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Todo" nillable="true" type="tns:Todo" />
        </s:sequence>
      </s:complexType>
      <s:element name="StoryUpdateDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sprintId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="externalId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storyTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="statusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estimate" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="backcolor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryUpdateDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoryUpdateDetailsResult" type="tns:Story" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoryRemoveResult" type="tns:Story" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryGetSprintStories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sprintId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryGetSprintStoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoryGetSprintStoriesResult" type="tns:ArrayOfStory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Story" nillable="true" type="tns:Story" />
        </s:sequence>
      </s:complexType>
      <s:element name="StoryGetSprintModifiedStories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sprintId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modified" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryGetSprintModifiedStoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoryGetSprintModifiedStoriesResult" type="tns:ArrayOfStory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SprintInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="layoutId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="teamId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="target" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="velocity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="focusFactor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SprintInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SprintInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SprintUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="layoutId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="teamId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="target" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="velocity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="focusFactor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SprintUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SprintGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sprintId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SprintGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SprintGetResult" type="tns:Sprint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sprint">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LayoutId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TeamId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="TargetDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Velocity" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FocusFactor" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SprintSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="SprintSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SprintSelectAllResult" type="tns:ArrayOfSprint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSprint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sprint" nillable="true" type="tns:Sprint" />
        </s:sequence>
      </s:complexType>
      <s:element name="SprintSelectByTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="teamId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SprintSelectByTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SprintSelectByTeamResult" type="tns:ArrayOfSprint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StateSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="StateSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StateSelectAllResult" type="tns:ArrayOfState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="State" nillable="true" type="tns:State" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="State">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsInitial" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsFinal" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="StateGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StateGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StateGetResult" type="tns:State" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StateInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isInitial" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isFinal" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StateInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StateInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StateUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isInitial" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isFinal" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StateUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="StoryTypeSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="StoryTypeSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoryTypeSelectAllResult" type="tns:ArrayOfStoryType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStoryType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StoryType" nillable="true" type="tns:StoryType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StoryType">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DefaultBackColor" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BurnDownEnabled" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="StoryTypeGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryTypeGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoryTypeGetResult" type="tns:StoryType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryTypeInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="defaultBackColor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isBurnDownEnabled" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryTypeInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StoryTypeInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryTypeUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="defaultBackColor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isBurnDownEnabled" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoryTypeUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="LayoutSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="LayoutSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayoutSelectAllResult" type="tns:ArrayOfLayout" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLayout">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Layout" nillable="true" type="tns:Layout" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Layout">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TeamId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalColumns" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalRows" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FontSize" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StoryWidth" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StoryHeight" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="LayoutInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totalColumns" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="totalRows" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fontSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="storyWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="storyHeight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LayoutInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totalColumns" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="totalRows" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fontSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="storyWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="storyHeight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="LayoutGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayoutGetResult" type="tns:Layout" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelSelectByLayout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="layoutId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelSelectByLayoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayoutPanelSelectByLayoutResult" type="tns:ArrayOfPanel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPanel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Panel" nillable="true" type="tns:Panel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Panel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LayoutId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StoryTypeId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Column" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Row" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Heigth" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StoryTypeName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="LayoutPanelGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayoutPanelGetResult" type="tns:Panel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="layoutId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stateId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storyTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="column" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="row" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LayoutPanelInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stateId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storyTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="column" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="row" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="LayoutPanelRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayoutPanelRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="TeamSelectAll">
        <s:complexType />
      </s:element>
      <s:element name="TeamSelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeamSelectAllResult" type="tns:ArrayOfTeam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Team">
        <s:complexContent mixed="false">
          <s:extension base="tns:BO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TeamGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeamGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeamGetResult" type="tns:Team" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeamInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeamInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TeamInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeamUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeamUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="TeamRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeamRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="TodoInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storyId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estimate" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="backcolor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodoInsertResult" type="tns:Todo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="storyId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estimate" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="backcolor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodoUpdateResult" type="tns:Todo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodoRemoveResult" type="tns:Todo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodoGetResult" type="tns:Todo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storyId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodoSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodoSelectResult" type="tns:ArrayOfTodo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StoryInsertSoapIn">
    <wsdl:part name="parameters" element="tns:StoryInsert" />
  </wsdl:message>
  <wsdl:message name="StoryInsertSoapOut">
    <wsdl:part name="parameters" element="tns:StoryInsertResponse" />
  </wsdl:message>
  <wsdl:message name="StoryUpdateDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:StoryUpdateDetails" />
  </wsdl:message>
  <wsdl:message name="StoryUpdateDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:StoryUpdateDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="StoryRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:StoryRemove" />
  </wsdl:message>
  <wsdl:message name="StoryRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:StoryRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="StoryGetSprintStoriesSoapIn">
    <wsdl:part name="parameters" element="tns:StoryGetSprintStories" />
  </wsdl:message>
  <wsdl:message name="StoryGetSprintStoriesSoapOut">
    <wsdl:part name="parameters" element="tns:StoryGetSprintStoriesResponse" />
  </wsdl:message>
  <wsdl:message name="StoryGetSprintModifiedStoriesSoapIn">
    <wsdl:part name="parameters" element="tns:StoryGetSprintModifiedStories" />
  </wsdl:message>
  <wsdl:message name="StoryGetSprintModifiedStoriesSoapOut">
    <wsdl:part name="parameters" element="tns:StoryGetSprintModifiedStoriesResponse" />
  </wsdl:message>
  <wsdl:message name="SprintInsertSoapIn">
    <wsdl:part name="parameters" element="tns:SprintInsert" />
  </wsdl:message>
  <wsdl:message name="SprintInsertSoapOut">
    <wsdl:part name="parameters" element="tns:SprintInsertResponse" />
  </wsdl:message>
  <wsdl:message name="SprintUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SprintUpdate" />
  </wsdl:message>
  <wsdl:message name="SprintUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SprintUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SprintGetSoapIn">
    <wsdl:part name="parameters" element="tns:SprintGet" />
  </wsdl:message>
  <wsdl:message name="SprintGetSoapOut">
    <wsdl:part name="parameters" element="tns:SprintGetResponse" />
  </wsdl:message>
  <wsdl:message name="SprintSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:SprintSelectAll" />
  </wsdl:message>
  <wsdl:message name="SprintSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:SprintSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="SprintSelectByTeamSoapIn">
    <wsdl:part name="parameters" element="tns:SprintSelectByTeam" />
  </wsdl:message>
  <wsdl:message name="SprintSelectByTeamSoapOut">
    <wsdl:part name="parameters" element="tns:SprintSelectByTeamResponse" />
  </wsdl:message>
  <wsdl:message name="StateSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:StateSelectAll" />
  </wsdl:message>
  <wsdl:message name="StateSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:StateSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="StateGetSoapIn">
    <wsdl:part name="parameters" element="tns:StateGet" />
  </wsdl:message>
  <wsdl:message name="StateGetSoapOut">
    <wsdl:part name="parameters" element="tns:StateGetResponse" />
  </wsdl:message>
  <wsdl:message name="StateInsertSoapIn">
    <wsdl:part name="parameters" element="tns:StateInsert" />
  </wsdl:message>
  <wsdl:message name="StateInsertSoapOut">
    <wsdl:part name="parameters" element="tns:StateInsertResponse" />
  </wsdl:message>
  <wsdl:message name="StateUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:StateUpdate" />
  </wsdl:message>
  <wsdl:message name="StateUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:StateUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="StoryTypeSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:StoryTypeSelectAll" />
  </wsdl:message>
  <wsdl:message name="StoryTypeSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:StoryTypeSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="StoryTypeGetSoapIn">
    <wsdl:part name="parameters" element="tns:StoryTypeGet" />
  </wsdl:message>
  <wsdl:message name="StoryTypeGetSoapOut">
    <wsdl:part name="parameters" element="tns:StoryTypeGetResponse" />
  </wsdl:message>
  <wsdl:message name="StoryTypeInsertSoapIn">
    <wsdl:part name="parameters" element="tns:StoryTypeInsert" />
  </wsdl:message>
  <wsdl:message name="StoryTypeInsertSoapOut">
    <wsdl:part name="parameters" element="tns:StoryTypeInsertResponse" />
  </wsdl:message>
  <wsdl:message name="StoryTypeUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:StoryTypeUpdate" />
  </wsdl:message>
  <wsdl:message name="StoryTypeUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:StoryTypeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutSelectAll" />
  </wsdl:message>
  <wsdl:message name="LayoutSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutInsertSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutInsert" />
  </wsdl:message>
  <wsdl:message name="LayoutInsertSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutInsertResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutUpdate" />
  </wsdl:message>
  <wsdl:message name="LayoutUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutGetSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutGet" />
  </wsdl:message>
  <wsdl:message name="LayoutGetSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutGetResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelSelectByLayoutSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutPanelSelectByLayout" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelSelectByLayoutSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutPanelSelectByLayoutResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelGetSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutPanelGet" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelGetSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutPanelGetResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelInsertSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutPanelInsert" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelInsertSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutPanelInsertResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutPanelUpdate" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutPanelUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:LayoutPanelRemove" />
  </wsdl:message>
  <wsdl:message name="LayoutPanelRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:LayoutPanelRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="TeamSelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:TeamSelectAll" />
  </wsdl:message>
  <wsdl:message name="TeamSelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:TeamSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="TeamGetSoapIn">
    <wsdl:part name="parameters" element="tns:TeamGet" />
  </wsdl:message>
  <wsdl:message name="TeamGetSoapOut">
    <wsdl:part name="parameters" element="tns:TeamGetResponse" />
  </wsdl:message>
  <wsdl:message name="TeamInsertSoapIn">
    <wsdl:part name="parameters" element="tns:TeamInsert" />
  </wsdl:message>
  <wsdl:message name="TeamInsertSoapOut">
    <wsdl:part name="parameters" element="tns:TeamInsertResponse" />
  </wsdl:message>
  <wsdl:message name="TeamUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:TeamUpdate" />
  </wsdl:message>
  <wsdl:message name="TeamUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:TeamUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="TeamRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:TeamRemove" />
  </wsdl:message>
  <wsdl:message name="TeamRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:TeamRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="TodoInsertSoapIn">
    <wsdl:part name="parameters" element="tns:TodoInsert" />
  </wsdl:message>
  <wsdl:message name="TodoInsertSoapOut">
    <wsdl:part name="parameters" element="tns:TodoInsertResponse" />
  </wsdl:message>
  <wsdl:message name="TodoUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:TodoUpdate" />
  </wsdl:message>
  <wsdl:message name="TodoUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:TodoUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="TodoRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:TodoRemove" />
  </wsdl:message>
  <wsdl:message name="TodoRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:TodoRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="TodoGetSoapIn">
    <wsdl:part name="parameters" element="tns:TodoGet" />
  </wsdl:message>
  <wsdl:message name="TodoGetSoapOut">
    <wsdl:part name="parameters" element="tns:TodoGetResponse" />
  </wsdl:message>
  <wsdl:message name="TodoSelectSoapIn">
    <wsdl:part name="parameters" element="tns:TodoSelect" />
  </wsdl:message>
  <wsdl:message name="TodoSelectSoapOut">
    <wsdl:part name="parameters" element="tns:TodoSelectResponse" />
  </wsdl:message>
  <wsdl:portType name="ScrumboardSoap">
    <wsdl:operation name="StoryInsert">
      <wsdl:input message="tns:StoryInsertSoapIn" />
      <wsdl:output message="tns:StoryInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryUpdateDetails">
      <wsdl:input message="tns:StoryUpdateDetailsSoapIn" />
      <wsdl:output message="tns:StoryUpdateDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryRemove">
      <wsdl:input message="tns:StoryRemoveSoapIn" />
      <wsdl:output message="tns:StoryRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryGetSprintStories">
      <wsdl:input message="tns:StoryGetSprintStoriesSoapIn" />
      <wsdl:output message="tns:StoryGetSprintStoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryGetSprintModifiedStories">
      <wsdl:input message="tns:StoryGetSprintModifiedStoriesSoapIn" />
      <wsdl:output message="tns:StoryGetSprintModifiedStoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SprintInsert">
      <wsdl:input message="tns:SprintInsertSoapIn" />
      <wsdl:output message="tns:SprintInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SprintUpdate">
      <wsdl:input message="tns:SprintUpdateSoapIn" />
      <wsdl:output message="tns:SprintUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SprintGet">
      <wsdl:input message="tns:SprintGetSoapIn" />
      <wsdl:output message="tns:SprintGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SprintSelectAll">
      <wsdl:input message="tns:SprintSelectAllSoapIn" />
      <wsdl:output message="tns:SprintSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SprintSelectByTeam">
      <wsdl:input message="tns:SprintSelectByTeamSoapIn" />
      <wsdl:output message="tns:SprintSelectByTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StateSelectAll">
      <wsdl:input message="tns:StateSelectAllSoapIn" />
      <wsdl:output message="tns:StateSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StateGet">
      <wsdl:input message="tns:StateGetSoapIn" />
      <wsdl:output message="tns:StateGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StateInsert">
      <wsdl:input message="tns:StateInsertSoapIn" />
      <wsdl:output message="tns:StateInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StateUpdate">
      <wsdl:input message="tns:StateUpdateSoapIn" />
      <wsdl:output message="tns:StateUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryTypeSelectAll">
      <wsdl:input message="tns:StoryTypeSelectAllSoapIn" />
      <wsdl:output message="tns:StoryTypeSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryTypeGet">
      <wsdl:input message="tns:StoryTypeGetSoapIn" />
      <wsdl:output message="tns:StoryTypeGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryTypeInsert">
      <wsdl:input message="tns:StoryTypeInsertSoapIn" />
      <wsdl:output message="tns:StoryTypeInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoryTypeUpdate">
      <wsdl:input message="tns:StoryTypeUpdateSoapIn" />
      <wsdl:output message="tns:StoryTypeUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutSelectAll">
      <wsdl:input message="tns:LayoutSelectAllSoapIn" />
      <wsdl:output message="tns:LayoutSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutInsert">
      <wsdl:input message="tns:LayoutInsertSoapIn" />
      <wsdl:output message="tns:LayoutInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutUpdate">
      <wsdl:input message="tns:LayoutUpdateSoapIn" />
      <wsdl:output message="tns:LayoutUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutGet">
      <wsdl:input message="tns:LayoutGetSoapIn" />
      <wsdl:output message="tns:LayoutGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelSelectByLayout">
      <wsdl:input message="tns:LayoutPanelSelectByLayoutSoapIn" />
      <wsdl:output message="tns:LayoutPanelSelectByLayoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelGet">
      <wsdl:input message="tns:LayoutPanelGetSoapIn" />
      <wsdl:output message="tns:LayoutPanelGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelInsert">
      <wsdl:input message="tns:LayoutPanelInsertSoapIn" />
      <wsdl:output message="tns:LayoutPanelInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelUpdate">
      <wsdl:input message="tns:LayoutPanelUpdateSoapIn" />
      <wsdl:output message="tns:LayoutPanelUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelRemove">
      <wsdl:input message="tns:LayoutPanelRemoveSoapIn" />
      <wsdl:output message="tns:LayoutPanelRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeamSelectAll">
      <wsdl:input message="tns:TeamSelectAllSoapIn" />
      <wsdl:output message="tns:TeamSelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeamGet">
      <wsdl:input message="tns:TeamGetSoapIn" />
      <wsdl:output message="tns:TeamGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeamInsert">
      <wsdl:input message="tns:TeamInsertSoapIn" />
      <wsdl:output message="tns:TeamInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeamUpdate">
      <wsdl:input message="tns:TeamUpdateSoapIn" />
      <wsdl:output message="tns:TeamUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeamRemove">
      <wsdl:input message="tns:TeamRemoveSoapIn" />
      <wsdl:output message="tns:TeamRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TodoInsert">
      <wsdl:input message="tns:TodoInsertSoapIn" />
      <wsdl:output message="tns:TodoInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TodoUpdate">
      <wsdl:input message="tns:TodoUpdateSoapIn" />
      <wsdl:output message="tns:TodoUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TodoRemove">
      <wsdl:input message="tns:TodoRemoveSoapIn" />
      <wsdl:output message="tns:TodoRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TodoGet">
      <wsdl:input message="tns:TodoGetSoapIn" />
      <wsdl:output message="tns:TodoGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TodoSelect">
      <wsdl:input message="tns:TodoSelectSoapIn" />
      <wsdl:output message="tns:TodoSelectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScrumboardSoap" type="tns:ScrumboardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoryInsert">
      <soap:operation soapAction="http://tempuri.org/StoryInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryUpdateDetails">
      <soap:operation soapAction="http://tempuri.org/StoryUpdateDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryRemove">
      <soap:operation soapAction="http://tempuri.org/StoryRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryGetSprintStories">
      <soap:operation soapAction="http://tempuri.org/StoryGetSprintStories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryGetSprintModifiedStories">
      <soap:operation soapAction="http://tempuri.org/StoryGetSprintModifiedStories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintInsert">
      <soap:operation soapAction="http://tempuri.org/SprintInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintUpdate">
      <soap:operation soapAction="http://tempuri.org/SprintUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintGet">
      <soap:operation soapAction="http://tempuri.org/SprintGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintSelectAll">
      <soap:operation soapAction="http://tempuri.org/SprintSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintSelectByTeam">
      <soap:operation soapAction="http://tempuri.org/SprintSelectByTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateSelectAll">
      <soap:operation soapAction="http://tempuri.org/StateSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateGet">
      <soap:operation soapAction="http://tempuri.org/StateGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateInsert">
      <soap:operation soapAction="http://tempuri.org/StateInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateUpdate">
      <soap:operation soapAction="http://tempuri.org/StateUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeSelectAll">
      <soap:operation soapAction="http://tempuri.org/StoryTypeSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeGet">
      <soap:operation soapAction="http://tempuri.org/StoryTypeGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeInsert">
      <soap:operation soapAction="http://tempuri.org/StoryTypeInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeUpdate">
      <soap:operation soapAction="http://tempuri.org/StoryTypeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutSelectAll">
      <soap:operation soapAction="http://tempuri.org/LayoutSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutInsert">
      <soap:operation soapAction="http://tempuri.org/LayoutInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutUpdate">
      <soap:operation soapAction="http://tempuri.org/LayoutUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutGet">
      <soap:operation soapAction="http://tempuri.org/LayoutGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelSelectByLayout">
      <soap:operation soapAction="http://tempuri.org/LayoutPanelSelectByLayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelGet">
      <soap:operation soapAction="http://tempuri.org/LayoutPanelGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelInsert">
      <soap:operation soapAction="http://tempuri.org/LayoutPanelInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelUpdate">
      <soap:operation soapAction="http://tempuri.org/LayoutPanelUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelRemove">
      <soap:operation soapAction="http://tempuri.org/LayoutPanelRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamSelectAll">
      <soap:operation soapAction="http://tempuri.org/TeamSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamGet">
      <soap:operation soapAction="http://tempuri.org/TeamGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamInsert">
      <soap:operation soapAction="http://tempuri.org/TeamInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamUpdate">
      <soap:operation soapAction="http://tempuri.org/TeamUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamRemove">
      <soap:operation soapAction="http://tempuri.org/TeamRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoInsert">
      <soap:operation soapAction="http://tempuri.org/TodoInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoUpdate">
      <soap:operation soapAction="http://tempuri.org/TodoUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoRemove">
      <soap:operation soapAction="http://tempuri.org/TodoRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoGet">
      <soap:operation soapAction="http://tempuri.org/TodoGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoSelect">
      <soap:operation soapAction="http://tempuri.org/TodoSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScrumboardSoap12" type="tns:ScrumboardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoryInsert">
      <soap12:operation soapAction="http://tempuri.org/StoryInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryUpdateDetails">
      <soap12:operation soapAction="http://tempuri.org/StoryUpdateDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryRemove">
      <soap12:operation soapAction="http://tempuri.org/StoryRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryGetSprintStories">
      <soap12:operation soapAction="http://tempuri.org/StoryGetSprintStories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryGetSprintModifiedStories">
      <soap12:operation soapAction="http://tempuri.org/StoryGetSprintModifiedStories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintInsert">
      <soap12:operation soapAction="http://tempuri.org/SprintInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintUpdate">
      <soap12:operation soapAction="http://tempuri.org/SprintUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintGet">
      <soap12:operation soapAction="http://tempuri.org/SprintGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintSelectAll">
      <soap12:operation soapAction="http://tempuri.org/SprintSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprintSelectByTeam">
      <soap12:operation soapAction="http://tempuri.org/SprintSelectByTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateSelectAll">
      <soap12:operation soapAction="http://tempuri.org/StateSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateGet">
      <soap12:operation soapAction="http://tempuri.org/StateGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateInsert">
      <soap12:operation soapAction="http://tempuri.org/StateInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateUpdate">
      <soap12:operation soapAction="http://tempuri.org/StateUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeSelectAll">
      <soap12:operation soapAction="http://tempuri.org/StoryTypeSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeGet">
      <soap12:operation soapAction="http://tempuri.org/StoryTypeGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeInsert">
      <soap12:operation soapAction="http://tempuri.org/StoryTypeInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoryTypeUpdate">
      <soap12:operation soapAction="http://tempuri.org/StoryTypeUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutSelectAll">
      <soap12:operation soapAction="http://tempuri.org/LayoutSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutInsert">
      <soap12:operation soapAction="http://tempuri.org/LayoutInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutUpdate">
      <soap12:operation soapAction="http://tempuri.org/LayoutUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutGet">
      <soap12:operation soapAction="http://tempuri.org/LayoutGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelSelectByLayout">
      <soap12:operation soapAction="http://tempuri.org/LayoutPanelSelectByLayout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelGet">
      <soap12:operation soapAction="http://tempuri.org/LayoutPanelGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelInsert">
      <soap12:operation soapAction="http://tempuri.org/LayoutPanelInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelUpdate">
      <soap12:operation soapAction="http://tempuri.org/LayoutPanelUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayoutPanelRemove">
      <soap12:operation soapAction="http://tempuri.org/LayoutPanelRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamSelectAll">
      <soap12:operation soapAction="http://tempuri.org/TeamSelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamGet">
      <soap12:operation soapAction="http://tempuri.org/TeamGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamInsert">
      <soap12:operation soapAction="http://tempuri.org/TeamInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamUpdate">
      <soap12:operation soapAction="http://tempuri.org/TeamUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeamRemove">
      <soap12:operation soapAction="http://tempuri.org/TeamRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoInsert">
      <soap12:operation soapAction="http://tempuri.org/TodoInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoUpdate">
      <soap12:operation soapAction="http://tempuri.org/TodoUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoRemove">
      <soap12:operation soapAction="http://tempuri.org/TodoRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoGet">
      <soap12:operation soapAction="http://tempuri.org/TodoGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodoSelect">
      <soap12:operation soapAction="http://tempuri.org/TodoSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Scrumboard">
    <wsdl:port name="ScrumboardSoap" binding="tns:ScrumboardSoap">
      <soap:address location="http://localhost:49340/Scrumboard.asmx" />
    </wsdl:port>
    <wsdl:port name="ScrumboardSoap12" binding="tns:ScrumboardSoap12">
      <soap12:address location="http://localhost:49340/Scrumboard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>